{% extends "error_base.html.jinja2" %}

{% block content %}
    <header>
      <h1>Content cannot be vieweb</h1>
    </header>
    <article>
      <p>
        Unfortunately, the contents of this page cannot be vieweb through ShortNIM service.
      </p>
    </article>
{% endblock %}
